requests~=2.31.0
websocket_client
./dist/NorenRestApiPy-0.0.22-py2.py3-none-any.whl
pandas~=2.0.3
pyyaml~=6.0.1

NorenRestApiPy~=0.0.22
pyotp~=2.8.0
SQLAlchemy~=2.0.19
mysql-connector-python~=8.1.0
progressbar~=2.5
numpy~=1.25.1
PySimpleGUI~=4.60.5